venv/
.idea/
.*_cache/
__pycache__
*.db
.coverage
.env
users.http

#frontend
frontend/node_modules
frontend/pnp
frontend/pnp.js

# testing
frontend/coverage


# misc
frontend/DS_Store
frontend/env.local
frontend/env.development.local
frontend/env.test.local
frontend/env.production.local
frontend/idea

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
